<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, architecto enim natus neque tempora voluptates
      voluptatibus voluptatum! Accusamus, assumenda consectetur cum cupiditate distinctio dolores eos, labore porro
      quasi rerum ut!
      Lorem </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, architecto enim natus neque tempora voluptates
      voluptatibus voluptatum! Accusamus, assumenda consectetur cum cupiditate distinctio dolores eos, labore porro
      quasi rerum ut!
      Lorem <a href="#">Read More</a></p>
  </div>

  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>


    <% @posts.each do |post| %>

        <h3><a href="#"><%= link_to post.title, post%></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %B %d")%></p>
    <% end %>

  </div>

  <div class="col-3 homepage_content">
    <h2>Stuff I've Build</h2>
    <hr>
    <% @projects.each do |project| %>
     <h3><a href="#"><%= link_to project.title, project%></a></h3>
     <p class="date"><%= project.created_at.strftime("%A, %B %d")%></p>

    <% end %>
  </div>

</div>